@font-face {
    font-family: Roboto;
    src: "https://fonts.googleapis.com/css2?family=Roboto";
}

body {
    font-family: Roboto; 
    color:white;
    margin: 0;
    
}

.header {
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    padding-bottom: 50px;
    
}

ul {
    color: #e5e7eb;
    list-style-type: none;
    font-size: 18px;
    display: flex;
    gap: 20px;
}
.section-one {
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    padding-bottom: 100px;
}

.text {
    width: 250px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin: 0;

}

button {
    background-color: #3882f6;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.placeholder {
    
    background-color: gray;
    padding: 100px;
}



.section-two-header {
    font-size: 32px; 
    font-weight: 700;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 100px;
}

.wrapper {
    display:block;
}

.box1, .box2, .box3, .box4 {
    border: rgb(85, 150, 249) 3px solid;
    border-radius: 12px;
    width: 150px;
    height: 150px;
    display: block;
}

.wrapper > p {
    color: gray;
    font-size: 16px;
    text-align: center;
    width: 150px;
    
}

.section-three {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.quote > p {
    margin-bottom: 0;
}

.quoter {
    font-weight: bold;
    font-size: 14px;
    width: 550px;
    color: black;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.quoter > p {
    margin-top: 0;
    margin-right: 20px;
}
.section-four {
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    margin: 100px;
    height: 75px;
}

 .wrapper2 {
    background-color: #3882f6;
    color: white;
    display: block;
    padding: 20px;
    border-radius: 4px;
}

.wrapper2 > p {
    color: white;
    margin: 0;
}

.section-four > div > button {
    
        background-color: #3882f6;
        color: white;
        font-size: 20px; 
        border: white 2px solid;
        padding: 2px 30px;
        border-radius: 8px;
        display:flex;
        justify-content: center;
        align-items: center;
    
}

footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 8px;
}